.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    height: 360px;
    width: 320px;
}

.header__title {
    @include fontz(32px, 41px, 700);
    @include font-style($font_f, $color_b);
}

.header__description {
    @include fontz(14px, 21px, 700);
    @include font-style($font_f, $color_b)
}